<div>
    <h1>Carrinho</h1>
    <h3>Seu carrinho está vazio.</h3>
    <p>Navegue pelos nossos produtos e adicione itens ao carrinho!</p>
    <a href="/products/all/1/10" class="headertitles">Ver produtos</a>
</div>