<div>
    <h1>Área Restrita</h1>
    <h3>Você não tem permissão para acessar esta seção.</h3>
    <p>Por favor, faça login com uma conta autorizada ou retorne à página de produtos.</p>
    <div class="links-container">
        <a href="/products/all/1/10" class="headertitles">Ver produtos</a>
        <a href="/" class="headertitles">Ir para Login</a>
    </div>
</div>