<div>
    <h1>Logout</h1>
    <h3>Logout realizado com sucesso.</h3>
    <p>Você foi desconectado(a) com segurança. Para acessar novamente, faça login abaixo.</p>
    <a href="/" class="headertitles">Ir para Login</a>
</div>