<div>
  <h1>Cadastro</h1>
  <h3>Produto cadastrado com sucesso!</h3>
  <p>O produto foi adicionado ao sistema. O que você deseja fazer agora?</p>
  <div class="links-container">
    <a href="/products/all/1/10" class="headertitles">Ver produtos</a>
    <a href="/admin" class="headertitles">Retornar à área restrita</a>
  </div>
</div>