<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | Ecommerce Esportivo</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico"> <!-- Adicione um favicon relacionado ao tema -->
</head>

<body>
    <nav>
        <a href="/" class="headertitles">Home</a>
        <a href="/products/all/1/10" class="headertitles">Produtos</a>
        <a href="/cart" class="headertitles">Carrinho</a>
        <a href="/chat" class="headertitles">Chat</a>
        <a href="/admin" class="headertitles">Área Restrita</a>
        <a href="/mail" class="headertitles">Correspondência</a>
        <a href="/logout" class="headertitles">Sair</a>
    </nav>

    {{{body}}}

    <footer>
        <p>&copy; 2025 Ecommerce Esportivo. Todos os direitos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
</body>

</html>